<ul class="nav nav-tabs">
  <li class="active"><a href="#mefree" aria-controls="mefree" role="tab" data-toggle="tab">Masters Elite Freeskate</a></li>
  <li><a href="#mfree" aria-controls="mfree" role="tab" data-toggle="tab">Masters Freeskate</a></a></li>
  <li><a href="#gfree" aria-controls="gfree" role="tab" data-toggle="tab">Gold Freeskate</a></a></li>
  <li><a href="#sfree" aria-controls="sfree" role="tab" data-toggle="tab">Silver Freeskate</a></a></li>
  <li><a href="#bfree" aria-controls="bfree" role="tab" data-toggle="tab">Bronze Freeskate</a></a></li>
  <li><a href="#ifree" aria-controls="ifree" role="tab" data-toggle="tab">Introductory Freeskate</a></a></li>
  <li><a href="#eint" aria-controls="eint" role="tab" data-toggle="tab">Elite Interpretive</a></a></li>
  <li><a href="#gint" aria-controls="gint" role="tab" data-toggle="tab">Gold Interpretive</a></a></li>
  <li><a href="#sint" aria-controls="sint" role="tab" data-toggle="tab">Silver Interpretive</a></a></li>
  <li><a href="#bint" aria-controls="bint" role="tab" data-toggle="tab">Bronze Interpretive</a></a></li>
  <li><a href="#iint" aria-controls="iint" role="tab" data-toggle="tab">Introductory Interpretive</a></a></li>
  <li><a href="#omcint" aria-controls="omcint" role="tab" data-toggle="tab">Open Masters Couples Interpretive</a></a></li>
  <li><a href="#ocint" aria-controls="ocint" role="tab" data-toggle="tab">Open Couples Interpretive</a></a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" id="mefree" class="tab-pane active">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="mfree" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="gfree" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="sfree" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="bfree" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="ifree" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="eint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="gint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="sint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="bint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="iint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="omcint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>
  <div role="tabpanel" id="ocint" class="tab-pane">
    <span><%= render "top_scores/partials/scores/free" %></span>
  </div>

     
