<ul class="nav nav-tabs">
  <li class="active"><a href="#senior" aria-controls="senior" role="tab" data-toggle="tab">Senior</a></li>
  <li><a href="#junior" aria-controls="junior" role="tab" data-toggle="tab">Junior</a></li>
  <li><a href="#novice" aria-controls="novice" role="tab" data-toggle="tab">Novice</a></li>
  <li><a href="#prenovice" aria-controls="prenovice" role="tab" data-toggle="tab">Pre-Novice</a></li>
  <li><a href="#juvenile" aria-controls="juvenile" role="tab" data-toggle="tab">Juvenile</a></li>
  <li><a href="#prejuvenile " aria-controls="prejuvenile" role="tab" data-toggle="tab">Pre-Juvenile</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" id="senior" class="tab-pane active">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#srwomen" aria-controls="srwomen" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#srmen" aria-controls="srmen" role="tab" data-toggle="tab">Men</a></li>
        <li><a href="#srpairs" aria-controls="srpairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#srdance" aria-controls="srdance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="srwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="srmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="srpairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="srdance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/dance1" %></span>
        </div>
      </div>
    </span>  
  </div>
  <div role="tabpanel" id="junior" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#jrwomen" aria-controls="jrwomen" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#jrmen" aria-controls="jrmen" role="tab" data-toggle="tab">Men</a></li>
        <li><a href="#jrpairs" aria-controls="jrpairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#jrdance" aria-controls="jrdance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="jrwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="jrmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="jrpairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="jrdance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/dance1" %></span>
        </div>
      </div>
    </span> 
  </div>
  <div role="tabpanel" id="novice" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#nwomen" aria-controls="nwomen" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#nmen" aria-controls="nmen" role="tab" data-toggle="tab">Men</a></li>
        <li><a href="#npairs" aria-controls="npairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#ndance" aria-controls="ndance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="nwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="nmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="npairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="ndance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/dance2" %></span>
        </div>
      </div>
    </span>  
  </div>
  <div role="tabpanel" id="prenovice" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pnwomen" aria-controls="pnwomen" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#pnmen" aria-controls="pnmen" role="tab" data-toggle="tab">Men</a></li>
        <li><a href="#pnpairs" aria-controls="pnpairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#pndance" aria-controls="pndance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="pnwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="pnmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="pnpairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/shortandlong" %></span>
        </div>
        <div role="tabpanel" id="pndance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/dance2" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="juvenile" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#jwomenu12" aria-controls="jwomenu12" role="tab" data-toggle="tab">Women U12</a></li>
        <li><a href="#jwomenu14" aria-controls="jwomenu14" role="tab" data-toggle="tab">Women U14</a></li>
        <li><a href="#jmen" aria-controls="jmen" role="tab" data-toggle="tab">Men (Combined)</a></li>
        <li><a href="#jmenu12" aria-controls="jmenu12" role="tab" data-toggle="tab">Men U12</a></li>
        <li><a href="#jmenu14" aria-controls="jmenu14" role="tab" data-toggle="tab">Men U14</a></li>
        <li><a href="#jpairs" aria-controls="jpairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#jdance" aria-controls="jdance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="jwomenu12" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jwomenu14" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jmenu12" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jmenu14" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jpairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="jdance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/dance2" %></span>
        </div>
      </div>
    </span>    
  </div>
  <div role="tabpanel" id="prejuvenile" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pjwomenu11" aria-controls="pjwomenu11" role="tab" data-toggle="tab">Women U11</a></li>
        <li><a href="#pjwomenu13" aria-controls="pjwomenu13" role="tab" data-toggle="tab">Women U13</a></li>
        <li><a href="#pjmen" aria-controls="pjmen" role="tab" data-toggle="tab">Men (Combined)</a></li>
        <li><a href="#pjmenu11" aria-controls="pjmenu11" role="tab" data-toggle="tab">Men U11</a></li>
        <li><a href="#pjmenu13" aria-controls="pjmenu13" role="tab" data-toggle="tab">Men U13</a></li>
        <li><a href="#pjpairs" aria-controls="pjpairs" role="tab" data-toggle="tab">Pairs</a></li>
        <li><a href="#pjdance" aria-controls="pjdance" role="tab" data-toggle="tab">Dance</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="pjwomenu11" class="tab-pane active">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjwomenu13" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjmen" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjmenu11" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjmenu13" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjpairs" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
        <div role="tabpanel" id="pjdance" class="tab-pane">
          <span><%= render "top_scores/partials/competitive/free" %></span>
        </div>
      </div>
    </span>  
  </div>
</div>
