<ul class="nav nav-tabs">
  <li class="active"><a href="#gold" aria-controls="gold" role="tab" data-toggle="tab">Gold</a></li>
  <li><a href="#10" aria-controls="10" role="tab" data-toggle="tab">STAR 10</a></a></li>
  <li><a href="#9" aria-controls="9" role="tab" data-toggle="tab">STAR 9</a></a></li>
  <li><a href="#8" aria-controls="8" role="tab" data-toggle="tab">STAR 8</a></a></li>
  <li><a href="#7" aria-controls="7" role="tab" data-toggle="tab">STAR 7</a></a></li>
  <li><a href="#6" aria-controls="6" role="tab" data-toggle="tab">STAR 6</a></a></li>
  <li><a href="#5" aria-controls="5" role="tab" data-toggle="tab">STAR 5</a></a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" id="gold" class="tab-pane active">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#gwomen" aria-controls="gwomen" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#gmen" aria-controls="gmen" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="gwomen" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="gmen" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>  
  </div>
  <div role="tabpanel" id="10" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#10women" aria-controls="10women" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#10men" aria-controls="10men" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="10women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="10men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="9" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#9women" aria-controls="9women" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#9men" aria-controls="9men" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="9women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="9men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="8" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#8women" aria-controls="8women" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#8men" aria-controls="8men" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="8women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="8men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="7" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#7women" aria-controls="7women" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#7men" aria-controls="7men" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="7women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="7men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="6" class="tab-pane">
    <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#6women" aria-controls="6women" role="tab" data-toggle="tab">Women</a></li>
        <li><a href="#6men" aria-controls="6men" role="tab" data-toggle="tab">Men</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="6women" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="6men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
  <div role="tabpanel" id="5" class="tab-pane">
   <span>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#5women13o" aria-controls="5women13o" role="tab" data-toggle="tab">Women 13 & Over</a></li>
        <li><a href="#5womenu13" aria-controls="5womenu13" role="tab" data-toggle="tab">Women U13</a></li>
        <li><a href="#5womenu10" aria-controls="5womenu10" role="tab" data-toggle="tab">Women U10</a></li>
        <li><a href="#5men" aria-controls="5men" role="tab" data-toggle="tab">Men (Combined)</a></li>
        <li><a href="#5men13o" aria-controls="5men13o" role="tab" data-toggle="tab">Men 13 & Over</a></li>
        <li><a href="#5menu13" aria-controls="5menu13" role="tab" data-toggle="tab">Men U13</a></li>
        <li><a href="#5menu10" aria-controls="5menu10" role="tab" data-toggle="tab">Men U10</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" id="5women13o" class="tab-pane active">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5womenu13" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5womenu10" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5men" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5men13o" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5menu13" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
        <div role="tabpanel" id="5menu10" class="tab-pane">
          <span><%= render "top_scores/partials/scores/free" %></span>
        </div>
      </div>
    </span>   
  </div>
</div>