</div>
</div>


<h3 style="text-align: center">Calalta Skating Club is proud to reconize the achievements of our skaters</h3>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Top Scores</h4>
        <p class="card-text">Top Scores at any sanctioned competition for STAR 5 to Senior including Adult, Intrepretive, and Team Events.</p>
        <%= link_to "Top Scores", top_scores_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">&#43;2 GOE</h4>
        <p class="card-text">&#43;2 GOE is a huge achievement. Any Calalta skater or team getting a &#43;2 GOE will be featured on this page</p>
        <%= link_to "+2 GOE/Gold", goe_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Gold and Diamond Tests</h4>
        <p class="card-text">Gold and Diamond Tests are the pinnacle of Skate Canada tests</p>
        <%= link_to "Tests", tests_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">STAR 1-4 Gold Assessment</h4>
        <p class="card-text">Most of the Wall of Fame Categories are for competitive skaters. STAR 1-4 uses the STAR Judging System and each skater recieves an assessment of Merit, Bronze, Silver, or Gold for each element. This category is for them.</p>
        <%= link_to "STAR Gold", star_gold_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">STAR Pass With Honors</h4>
        <p class="card-text">STAR 1-5 Assessmens can be a Retry, Pass, or Pass with Honors. These skaters have the distinction of achieving Pass with Honors</p>
        <%= link_to "Pass With Honors", star_honours_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Calalta Awards</h4>
        <p class="card-text">Our annual award winners</p>
        <%= link_to "Club Awards", awards_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Provincial, National and International Awards</h4>
        <p class="card-text">Calalta skaters who have recieved awards outside of our club</p>
        <%= link_to "Awards", ext_awards_index_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>