<ul class="nav nav-tabs">
        <li class="active"><a href="#star1" aria-controls="star1" role="tab" data-toggle="tab">STAR 1</a></li>
        <li><a href="#star2" aria-controls="star2" role="tab" data-toggle="tab">STAR 2</a></li>
        <li><a href="#star3" aria-controls="star3" role="tab" data-toggle="tab">STAR 3</a></li>
        <li><a href="#star4" aria-controls="star4" role="tab" data-toggle="tab">STAR 4</a></li>
        <li><a href="#star5" aria-controls="star4" role="tab" data-toggle="tab">STAR 5</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" id="star1" class="tab-pane active">
        <span><%= render "honors_list" %></span>  
      </div>
      <div role="tabpanel" id="star2" class="tab-pane">
        <span><%= render "honors_list" %></span>  
      </div>
      <div role="tabpanel" id="star3" class="tab-pane">
        <span><%= render "honors_list" %></span>  
      </div>
      <div role="tabpanel" id="star4" class="tab-pane">
        <span><%= render "honors_list" %></span>  
      </div>
      <div role="tabpanel" id="star5" class="tab-pane">
        <span><%= render "honors_list" %></span>  
      </div>
    </div>