<!-- continue jumbotron -->
    <h2>Gold and Diamond Tests</h2>
  </div>
</div>
<div style="container">
<ul class="nav nav-tabs">
    <li class="active"><a href="#diamond" aria-controls="diamond" role="tab" data-toggle="tab">Diamond Dance</a></li>
    <li><a href="#gdance" aria-controls="gdance" role="tab" data-toggle="tab">Gold Dance</a></li>
    <li><a href="#gfree" aria-controls="gfree" role="tab" data-toggle="tab">Gold Freeskate</a></li>
    <li><a href="#gskill" aria-controls="gskill" role="tab" data-toggle="tab">Gold Skills</a></li>
    <li><a href="#gint" aria-controls="gint" role="tab" data-toggle="tab">Gold Interpretive</a></li>
    <li><a href="#quad" aria-controls="quad" role="tab" data-toggle="tab">Quadruple Gold</a></li>
    <li><a href="#triple" aria-controls="triple" role="tab" data-toggle="tab">Triple Gold</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="diamond" class="tab-pane active">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="gdance" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="gfree" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="gskill" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="gint" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="quad" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
    <div role="tabpanel" id="triple" class="tab-pane">
      <span><%= render "test" %></span>  
    </div>
  </div>
</div>

