<!-- continue jumbotron -->
    <h2>Top Scores</h2>
  </div>
</div>
<!-- Top Scores Page -->
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#intro" aria-controls="intro" role="tab" data-toggle="tab">Introduction and Criteria</a></li>
    <li><a href="#comp" aria-controls="comp" role="tab" data-toggle="tab">Competitive</a></li>
    <li><a href="#star" aria-controls="star" role="tab" data-toggle="tab">STARSkate</a></li>
    <li><a href="#adult" aria-controls="adult" role="tab" data-toggle="tab">AdultSkate</a></li>
    <li><a href="#int" aria-controls="int" role="tab" data-toggle="tab">Interpretive and Triathalon</a></li>
    <li><a href="#team" aria-controls="team" role="tab" data-toggle="tab">STARSkate Team</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="intro" class="tab-pane active">
      <span><%= render "top_scores/partials/intro" %></span>  
    </div>
    <div role="tabpanel" id="comp" class="tab-pane">
      <span><%= render "top_scores/partials/comp" %></span>  
    </div>
    <div role="tabpanel" id="star" class="tab-pane">
      <span><%= render "top_scores/partials/star" %></span>  
    </div>
    <div role="tabpanel" id="adult" class="tab-pane">
      <span><%= render "top_scores/partials/adult" %></span>  
    </div>
    <div role="tabpanel" id="int" class="tab-pane">
      <span><%= render "top_scores/partials/int" %></span>  
    </div>
    <div role="tabpanel" id="team" class="tab-pane">
      <span><%= render "top_scores/partials/team" %></span>  
    </div>
  </div>
</div>