<!DOCTYPE html>
<html>
  <head>
    <title>Calalta Wall Of Fame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <div class="jumbotron">
        <div style="text-align: center">
            <%= asset_path('logo.png') %>
            <h1><b>Wall Of Fame</b></h1>
        </div>
    </div>
        <%= yield %>    
    </div>
  </body>
</html>
